* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul, li {
	list-style-type: none;
}

canvas {
	image-rendering: pixelated;
}

:root {
	counter-reset: item-numbers;
	background-color: #000000;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23ffffff' fill-opacity='0.1'%3E%3Cpath fill-rule='evenodd' d='M0 0h40v40H0V0zm40 40h40v40H40V40zm0-40h2l-2 2V0zm0 4l4-4h2l-6 6V4zm0 4l8-8h2L40 10V8zm0 4L52 0h2L40 14v-2zm0 4L56 0h2L40 18v-2zm0 4L60 0h2L40 22v-2zm0 4L64 0h2L40 26v-2zm0 4L68 0h2L40 30v-2zm0 4L72 0h2L40 34v-2zm0 4L76 0h2L40 38v-2zm0 4L80 0v2L42 40h-2zm4 0L80 4v2L46 40h-2zm4 0L80 8v2L50 40h-2zm4 0l28-28v2L54 40h-2zm4 0l24-24v2L58 40h-2zm4 0l20-20v2L62 40h-2zm4 0l16-16v2L66 40h-2zm4 0l12-12v2L70 40h-2zm4 0l8-8v2l-6 6h-2zm4 0l4-4v2l-2 2h-2z'/%3E%3C/g%3E%3C/svg%3E");
}

body {
	width: 11in;
	height: 8.5in;
}

.pageRoot {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	padding: 0.2in;
	margin: 0 2em 2em;
	background: white;
	font: 1em Iosevka, sans-serif;
}

.pageHeader {
	padding: 0 0 0.1in;
	font: 10pt Iosevka, sans-serif;
}

.pageHeader .logo {
	--size: 1em;
	width: var(--size);
	height: var(--size);
	margin: 0 -0.25em -0.1em 0;
}

.pageContent {
	display: grid;
}

.pageFooter {
	padding: 0.1in 0 0;
	font: 10pt Iosevka, monospace;
	color: #666;
	display: grid;
	grid-template-columns: auto 1fr auto;
}

.storeItem__list {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.storeItem__li {
	position: relative;
	border: 1px dashed #f5f5f5;
	overflow: hidden;
	max-height: 12em;
}

.storeItem__ordinal {
	font: 10pt Iosevka, monospace;
	color: #a0a0a0;
	position: absolute;
	top: 0;
	left: 0;
	padding: 1em;
}

.storeItem__ordinal::after {
	counter-increment: item-numbers;
	content: counter(item-numbers);
}

.qrItem {
	display: flex;
	align-items: center;
	padding: 1em;
}

.qrItem__bgContainer {
	position: relative;
}

.qrItem__bg {
	position: absolute;
	right: 2em;
	top: 0em;
	--size: 5em;
	width: var(--size);
	height: var(--size);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	filter: opacity(0.5);
}

.qrItem__fg {
	z-index: 1;
}

.qrItem__columnContainer {
	display: flex;
}

.qrItem__columnContainer > *:first-of-type {
	margin: 0 0.5em 0 0;
}

.qrItem__columnContainer > *:last-of-type {
	text-align: center;
}

.qrItem__label {
	max-width: 8em;
	font: 12pt Iosevka, sans-serif;
	margin: 0.5em 0;
	letter-spacing: -0.025em;
	word-spacing: -0.25em;
}

.qrItem__value {
	font: 14pt Iosevka, monospace;
	background: #b0b0b0;
	border: 1px solid #999;
	display: inline-block;
	padding: 0 1em 0;
}

.barcodeItem {
	display: flex;
	align-items: center;
	justify-content: center;
}

.barcodeItem__fg {
	z-index: 1;
	margin: 2em 0 0;
}

.barcodeItem__iconContainer {
	position: relative;
}

.barcodeItem__icon {
	--size: 5em;
	width: var(--size);
	height: var(--size);
	position: absolute;
	right: 2em;
	top: 0;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	filter: opacity(0.5);
}

.barcodeItem__barcodeContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.barcodeItem canvas {
	min-width: 1.75in;
	max-height: 0.5in;
}

.barcodeItem__labelContainer {
	position: relative;
}

.barcodeItem__label {
	position: absolute;
	width: 100%;
	font: 12pt Iosevka, sans-serif;
	padding: 0.1em 0;
	letter-spacing: -0.025em;
	word-spacing: -0.25em;
	background: white;
	text-align: center;
}

.barcodeItem__value {
	font: 10pt Iosevka, monospace;
	margin: 0.5em 0;
	text-align: center;
}
