* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background: black;
  image-rendering: optimize-contrast;
  image-rendering: -webkit-optimize-contrast;
}

body {
  width: 11in;
  height: 8.5in;
  background: white;
  padding: 0.2in;
  display: flex;
  flex-direction: column;
}

#version {
  font: 8pt Iosevka, Courier, monospace;
  text-align: right;
}

#items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 100%;
}

#items li {
  display: flex;
  justify-content: center;
  position: relative;
  flex-basis: calc(100%/6);
  list-style-type: none;
  text-align: center;
  font-size: 10pt;
}

#items .item-number-container {
  position: relative;
}

#items .item-number {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0 0.25em;
  font: 8pt Iosevka, Arial, sans-serif;
}

#items .item {
  display: inline-block;
  position: relative;
}

#items .item .name,
#items .item .value {
  position: relative;
  z-index: 2;
  width: 100%;
  --inset: 0.5em;
}
#items .item .name {
  position: absolute;
  top: var(--inset);
  font-family: Iosevka, Arial, sans-serif;
  text-align: left;
  letter-spacing: -0.5px;
  line-height: 0.9;
}
#items .item .value {
  position: absolute;
  bottom: var(--inset);
  font-family: Iosevka, monospace;
}
#items .item .name .text,
#items .item .value .text {
  display: inline-block;
  background: white;
  border: 1px solid black;
  padding: 0.2em 0.25em;
  text-align: center;
}
#items .item .value .text {
  width: 100%;
}

#items .item .barcode {
  position: relative;
  z-index: 1;
  background: white;
  --border: 1px solid black;
  border-top: var(--border);
  border-bottom: var(--border);
}

#items .icon-container {
  position: absolute;
  top: 0;
  width: 100%;
}
#items .icon {
  margin-top: -0.3in;
  --size: 0.4in;
  width: var(--size);
  height: var(--size);
  display: inline-block;
  transform: rotate(15deg);
}